@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&family=Sriracha&display=swap');

:root {
    --color0: #BA2D0B;
    --color1: #FAA613;
    --color2: #C6D8D3;
    --color3: #2E933C;
    --color4: #134611;
    --fontDestaque:'Sansita Swashed', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

body {
    background-color: var(--color4);
}

body::-webkit-scrollbar { 
    display: none;
  }

header {
    text-align: center;
}

main {
    width: 90%;
    max-height: 82vh;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 55px;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: var(--fontDestaque);
    color: var(--color1);
    padding: 15px;
    text-shadow: 4px 2px 10px rgb(0, 0, 0);
}

.categorias {
    border: 5px;
    display: flex;
    height: 15vh;
    width: 90vw;
    border-radius: 10px;
    background-color: var(--color1);
    margin: auto;
    text-align: start;
    margin-top: 20px;
}

.categorias > label {
    font-size: 1.4em;
    font-weight: bold;
    margin: auto;
    color: black;
}

#categoria {
    color: var(--color1);
    font-size: 1.2em;
}

.produto {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    height: 150px;
    border-radius: 7px;
    margin-top: 10px;
    text-align: center;
}

label.nome {
    font-size: 1.6em;
    margin-top: -15px
}

label.preco {
    position: absolute;
    font-size: 1.4em;
    bottom: 20px;
}

label.preco::before {
    content: "R$ ";
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: var(--color2);
    width: 100%;
}

footer div {
    padding-top: 5px;
    width: 25%;
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}

footer img {
    height: 20px;
}

footer label {
    display: block;
}

footer #menucardapio label {
    color: var(--color0);
}

footer #menucardapio {
    border-top: 3px solid var(--color0);
}


