@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&family=Sriracha&display=swap');

:root {
    --color0: #BA2D0B;
    --color1: #FAA613;
    --color2: #C6D8D3;
    --color3: #2E933C;
    --color4: #134611;
    --fontDestaque:'Sansita Swashed', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

body {
    background-color: var(--color4);
}

header {
    text-align: center;
}

main {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    background-color: #c6d8d379;
    max-width: 900px;
    height: 90vh;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.61);
}

#icone {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    margin: 15px;
}

#icone img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%)
}

#name {
    display: inline-block;
    position: absolute;
    top: 15%;
    color: white;
    font-size: 2.2em;
    height: 16vh;
    width: 60%;
}

#name textarea {
    padding: 10px;
    max-width: 40vw;
    height: 90%;
    border: none;
    border-radius: 7px;
    background-color: var(--color2);
    font-size: 1.3em;
    text-align: start;
    vertical-align: text-top;
}

#name label {
    color: white;  
    font-size: 0.6em;
}

#buttonsalvar {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #13461156;
    border-radius: 5px;
    padding: 0px 10px;
}

#buttonsalvar:hover {
    background-color: #134611ad
}

#buttonsalvar img {
    height: 35px;
    padding-right: 5px;
    vertical-align: middle;
    padding: 5px 10px;
}

#buttonsalvar label {
    right: 20px;
    font-size: 2em;
    color: black;
    padding-right: 15px;
    padding-left: 10px;
    vertical-align: middle;
}

#preco {
    position: absolute;
    right: 30px;
    top: 46%;
}

#preco label {
    color: white;
    font-size: 1.5em;
}

#preco input {
    border: none;
    border-radius: 3px;
    padding: 4px;
    background-color: var(--color2);
    font-size: 1.2em;
}

#descricao {
    margin: 15px;
}

#descricao label {
    color: white;  
    font-size: 1.2em;
}

#descricao textarea {
    display: block;
    height: 30vh;
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: var(--color2);
    font-size: 1.2em;
    padding: 5px;
    margin-top: 10px;
    overflow-y: scroll;
}
