@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&family=Sriracha&display=swap');

:root {
    --color0: #BA2D0B;
    --color1: #FAA613;
    --color2: #C6D8D3;
    --color3: #2E933C;
    --color4: #134611;
    --fontDestaque:'Sansita Swashed', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

body {
    background-color: var(--color4);
}

header {
    text-align: center;
}

#conteudo {
    max-width: 93vw;
    margin: auto;
}

main {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    background-color: #c6d8d379;
    height: 75vh;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.61);
}

#imgproduto {
    width: 95%;
    height: 40%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
}

#nameproduto {
    text-align: center;
    max-height: 10vh;
    margin-top: 10px;
    margin-bottom: 30px;
    overflow-y: scroll;
}

#nameproduto label {
    font-size: 2em;
    font-weight: bold;
}

#descricao {
    margin: auto;
    margin-bottom: 20px;
}

#descricao label {
    font-size: 1.5em;
    font-weight: bold;
}

#descricao p {
    height: 20vh;
    text-align: center;
    overflow-y: scroll;
    background-color: var(--color2);
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 5px;
    font-size: 1.2em;
}

#preco {
    position: absolute;
    font-size: 1.5em;
    font-weight: bolder;
    bottom: 10px;
    right: 20px;
}

#preco::before {
    content: "R$ ";
}

#buttons {
    position: relative;
    margin: auto;
    padding-bottom: 150px;
}

#buttons img {
    padding-bottom: 5px;
    margin: auto;
    display: block;
}

#buttons label {
display: block;
}

#buttongarcom {
    position: absolute;
    left: 0;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.671);
    background-color: var(--color1);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 0px;
    width: 30%;
}

#addpedido {
    position: absolute;
    right: 0;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.671);
    background-color: var(--color2);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 0px;
    width: 68%;
}

.popup {
    display: none;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 270px;
    height: 90px;
    padding: 15px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.377);
    border-radius: 7px;
    background-color: var(--color3);
    text-align: center;
}

.popup > label {
    color: white;
    font-size: 1.2em;
}

.popup > input {
    font-size: 1.2em;
    width: 40px;
    height: 20px;
    padding: 1px;
    border-radius: 5px;
    margin-top: 10px;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#cancel {
    font-weight: bold;
    color: white;
    background-color: var(--color0);
    border-radius: 5px;
    padding: 8px;
}

#add {
    background-color: var(--color1);
    border-radius: 5px;
    padding: 8px;
}
